//统一过度css


//右键menu切换

.fade-enter-active,.fade-leave-active{
  transition: opacity .3s;
}
.fade-enter,.fade-leave-to{
  opacity: 0;
}



//界面切换
.fade-page-enter-active,.fade-page-leave-active{
  transition: all .3s;
}
.fade-page-enter{
  opacity: 0;
  transform: translateX(-30px);
}
.fade-page-leave-to{
  opacity: 0;
  transform: translateX(30px);
}