//一些scss变量参数


$sideBarWidth : 210px;


//深色sidebar

$dark-menu-bg:#304156;
$dark-navbar-bg:#2b2f3a;
$dark-menu-active-color : #409EFF;
$dark-menu-text : #bfcbd9;

//浅色sidebar

$light-menu-bg:#fff;
$light-navbar-bg:#2b2f3a;
$light-menu-active-color : #409EFF;
$light-menu-text : #303133;

:export{
  sideBarWidth : $sideBarWidth;



  darkMenuBg: $dark-menu-bg;
  darkMenuText : $dark-menu-text;
  darkNavBarBg : $dark-navbar-bg;
  darkMenuActiveColor : $dark-menu-active-color;


  lightMenuBg: $light-menu-bg;
  lightMenuText : $light-menu-text;
  lightNavBarBg : $light-navbar-bg;
  lightMenuActiveColor : $light-menu-active-color;

}